.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        text-transform: uppercase;
        padding: 20px;
    }
    &__time {
        font-size: 30px;
        font-weight: 300;
    }
}
