.stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        text-transform: uppercase;
        padding-top: 20px;
    }
    &__watch {
        font-size: 30px;
        font-weight: 300;
        padding: 20px;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        width: auto;
        padding: 10px;
        border: none;
        margin: 0 5px;
        border-radius: 5px;
        font-size: 20px;
        &--start {
            background: green;
            color: white;
        }
        &--stop {
            background: red;
        }
        &--resume {
            background: orange;
        }
        &--reset {
            background: black;
            color: white;
        }
    }
}
