.app {
    text-align: center;
    &__nav {
        background-color: rgb(127, 127, 127);
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    &__item {
        text-decoration: none;
        color: white;
        padding: 0 20px;
        font-size: 20px;
    }
}
